
    <div class="container">
        <div class="row">
            <div class="col-xs-8 col-s-4 icon-footer">
                <img src="./public/png/icon-shipping.png" alt="icono de envíos" class="icon"/>
                <p><strong>Envío</strong> <br>por un precio razonable</p>
            </div>
            <div class="col-xs-8 col-s-4 icon-footer">
                <img src="./public/png/icon-refund.png" alt="icono de devoluciones gratis" class="icon"/>
                <p><strong>Devoluciones</strong> <br> En gestion</p>
            </div>
            <div class="col-xs-8 col-s-4 icon-footer">
                <img src="./public/png/icon-customer-service.png" alt="icono de atención al cliente" class="icon"/>
                <p><strong>Atención al cliente</strong> <br> 7 días a la semana</p>
            </div>
            <div class="col-xs-8 col-s-4 icon-footer">
                <img src="./public/png/icon-secure.png" alt="icono de pago seguro" class="icon"/>
                <p><strong>Pago seguro</strong> <br> 100% confianza</p>
            </div>
        </div>
        <hr>
        <div class="section">
            <div class="col-xs-0 col-s-2"></div>
            <div class="col-xs-5 col-s-4">
                <ul>
                    <li class="titulo">Conocenos</li>
                    <li><a href="">Sé parte</a></li>
                    <li><a href="">informacion corporativa</a></li>
                    <li><a href="">Conoce más</a></li>
                </ul>
            </div>
            <div class="col-xs-5 col-s-4 ">
                <ul>
                    <li class="titulo">Podemos ayudarte</li>
                    <li><a href="">Devoluciones</a></li>
                    <li><a href="">ayuda</a></li>
                </ul>
            </div>
            <div class="col-xs-5 col-s-4 ">
                <ul>
                    <li class="titulo">Metodos de pago</li>
                    <li><a href="">Credito</a></li>
                    <li><a href="">Debito</a></li>
                    <li><a href="">Efectivo</a></li>
                </ul>
            </div>
            <div class="col-xs-0 col-s-2"></div>
        </div>
        <hr>
        <H2>Kofuku-Studios &copy; 2023</H2>

    </div>
</footer>