footer {
    background-color: #000;
    color: #ffffff;
    text-align: center;
    position: relative;
    min-height: fit-content;
    padding: 15px;
  }

.icon-footer{
    text-align: center;
}


.section::after{
  content: "";
  clear: both;
  display: table;
}

.section li{
  font-size: medium;
  text-align: start;
  list-style: none;
}

@media only screen and (max-width: 600px) {
  /* Para moviles */

  footer .icon{

    height: 30px;
    font-size: 5px;
  }
}

@media only screen and (min-width: 600px) {
  /* Para tablets */
  
  footer .icon{

    height: 40px;
  }
}

@media only screen and (min-width: 768px) {
  /* Para escritorio */
  
  footer .icon{

    height: 40px;
  }
}

@media only screen and (min-width: 992px) {
  footer .icon{

    height: 50px;
  }
}

@media only screen and (min-width: 1200px) {
  footer .icon{
    height: 60px;
  }
}
